h1 span{
	font-weight: bold;
	color: blue;
 }
span{
	font-weight: bold;
	color: rgb(235, 129, 31);
 }
p{
	color:blue;
	border: 10px solid green;
}
#important{
	font-size:36px;
	border: 10px solid yellow;
}
.info{
	background-color: red;
	border:5px solid black;
}
.test{
	border: 10px solid blue;
}
.imagen{
	width: 25%;
	height: 25%;
}
.tabla{
	background-color:rgb(42, 207, 158);	
	border-right: 20px groove rgb(243, 11, 11);
	border-top: 20px groove rgb(76, 21, 226);
	border-bottom: 20px groove rgb(196, 230, 7);
	border-left: 20px groove rgb(221, 12, 211);
	border-radius: 20px;
	border-spacing: 0px;
	width: 100px;
	height: 100px;
	
}
.tabla1{
	background-color: yellow;
	border: 2px solid black;
	border-spacing: 0px;
}